<div class="m-5">
  <h2>Editing Book</h2>
  <%= form_with model: @book,url: book_path,method: :patch do |f| %>
    Title<br>
    <%= f.text_field:title %><br>
    Body<br>
    <%= f.text_area:body %><br>
    <%= f.submit %>
  <% end %>
  <div class="mt-3">
    <%= link_to "Show",book_path(@book.id) %> |
    <%= link_to "Back",books_path %>
  </div>
</div>